@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
/*
font-family: 'Ubuntu', sans-serif;
font-family: 'Lora', serif;
*/
/* configurações gerais */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: var(--link-color);
}
/* Configurações de cores */
:root{
    --azul: #476C9B;
    --azul-claro: #ADD9F4;

    --link-color: #6369D1;

    --preto: #101419;
    --branco: #FBFBFB;
}
body{
    text-align: center;
    font-family: 'Lora', serif;
    background-color: var(--branco);
    color: var(--preto);
}
/* configurações do cabeçalho e navegação superior */
header{
    position: fixed;
    background-color: var(--preto);
    width: 100vw;
    height: 10vh;
    padding: 20px;
}
header  a{
    font-family: 'Ubuntu', sans-serif;
    margin: 0px 20px;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
    color: var(--branco);
}
header  a:hover{
    border-bottom: 1px solid white;
}
header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* configurações gerais das seções */
main{
    display: flex;
    align-items: center;
    flex-direction: column;
}
section#sobre, section#skills{
    height: 100vh;
    width: 80vw;
    padding-top: 15vh;
}
section#projetos{
    padding-top: 15vh;
    padding-bottom: 15vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
}

/* configurações da guia section sobre */
section#sobre img{
    border-radius: 10px;
    margin-bottom: 20px;
}
section#sobre a:hover{
    color: var(--preto);
    font-weight: bold;
}
.nome{
    font-size: 30px;
}
.funcao{
    font-size: 20px;
    text-transform: uppercase;
}  
.redes-sociais{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.redes-sociais a{
    margin: 5px 0px;
}
section#sobre p{
    margin: 10px 0px;
    font-size: 18px;
}

/* configurações da guia section skills*/

section#skills > div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
section#skills p, section#skills div span{
    font-size: 18px;
}
section#skills p{
    width: 80%;
    margin: 20px 0px;
    
}
.detalhes-habilidades > div{
    padding: 5px 0px;
    margin: 10px 0px;
    text-transform: uppercase;
}

/* configurações da guia section projetos*/
.container-projetos{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}
.projetos{
    width: 33%;
    margin: 10px 0px;
    padding: 10px;
    border-radius: 10px;
}
.projetos > div > nav{
    margin-top: 10px;
}
.projetos > div > nav > a{
    border: 1px solid white;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: var(--link-color);
    color: white;
    margin-right: 5px;
}
.projetos > div > nav > a:hover{
    background-color: white;
    color: var(--link-color);
    border: 1px solid var(--link-color);
}
.nav-projetos{
    width: 100%;
    margin: 20px 0px;
    color: var(--link-color);
    margin-bottom: 50px;
}
.nav-projetos > div > a{
    padding: 8px 10px;
    border-radius: 10px;
    border: 1px solid white;
    background-color: var(--link-color);
    color: white;
    margin-right: 5px;
}
.nav-projetos > div > a:hover{
    background-color: white;
    color: var(--link-color);
    border: 1px solid var(--link-color);
    cursor: pointer;
}
footer{
    text-align: center;
    height: 5vh;
}