/*
configurações gerais
*/
*{
    padding:0px;
    margin: 0px;
}
body{
    background-color: #3a3939;
    color: black;
}
main{
    display: flex;
}

:root{
    --display-chat: #f1f1f1;
    --background-globral: #3a3939;
    --color-text-chat: rgb(182, 181, 181);

    --fonte-titulo: Verdana, Geneva, Tahoma, sans-serif;
    --fonte-paragrafo: Georgia, 'Times New Roman', Times, serif;
}
h1{
    font-family:var(--fonte-titulo);
    font-size: 4vw;
    text-align: center;
    margin: 5px;
    color: white;
}
p{
    font-family: var(--fonte-paragrafo);
}
/*
configurações do topo do chat
*/
header{
    display: flex;
    color: white;
    height: 4vh;
}
.icone{
    font-size: 1.5vw;
    display: flex;
    align-items: center;
    margin: 5px;
}
.window{
    display: flex;
    align-items: center;
    position: fixed;
    right: 0px;
    top: 0px;
}
.window > div{
    height: 2vh;
    width: 2vw;
    background-color: white;
    margin: 8px 5px 3px 3px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:1.5vw;
}
/*
configurações do container das conversas.
*/
.painel{
    height: 85vh;
    width: 20vw;
    border: 2px solid #dedede;
    border-radius: 20px;
    margin: 2px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
    background-color: var(--background-globral);
}
.config{
    width: 100%;
    margin: 5px 0px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--color-text-chat);
}
.config > div{
    margin: 6px 5px 5px 5px;
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    font-size: 1.8vw;
    padding: 5px;
    border-radius: 20px;
}
.config > div:hover{
    background-color: #4d4c4c;
}
.conversas{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    height: 80%;
}
.conversas > div.chat{
    border-radius: 20px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 8%;
    padding: 3px;
}
.chat:hover{
    background-color: #4d4c4c;
}
.separador{
    color: var(--color-text-chat);
    width: 100%;
    height: 5%;
    font-size: 1.2vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 4px;
    margin-bottom: 4px;
}
.separador > span{
    color: white;
}
.separador:hover{
    color: white;
}
.chat > img{
    width: 4vw;
    height: 4vw;
    flex-grow: 0;
}
.chat > span{
    flex-grow: 2;
    font-size: 1.2vw;
    color: var(--color-text-chat);
    text-indent: 5px;
}
/*
configurações do container do bate-papo.
*/
.bate-papo{
    margin: 2px;
    border: 2px solid #dedede;
    background-color:var(--background-globral);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 5px;
    width: 80vw;
    height: 85vh;
    border-radius: 20px;
}
.display{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 90%;
}
.container{
    display: flex;   
    font-size: 1.8vw;
    align-items: center;
    border-bottom: 1px solid #dedede ;
    border-top: 1px solid #dedede ;
    background-color: white;
    border-radius: 20px;
    padding: 2px;
    margin: 1px;
}
img{
    margin: 2px;
    width: 10vw;
    height: 10vh;
    border-radius: 50%;
    border: 2px solid #dedede;
    flex-grow: 1;
}
.mensagem{
    flex-grow: 2;
    padding: 5px;
}
.time{
    color: gray;
}
.caixa-de-mensagem{
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 2px;
    margin: 1px;
}
input[type="text"]{
   flex-grow: 2;
   margin-right: 5px;
   height: 3vh;
}
footer{
    position: fixed;
    bottom: 0px;
    right: 0px;
    left: 0px;
    color: rgb(235, 227, 227);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    font-size: 2.5vw;
}
